<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý người dùng</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    tr:hover {
        background-color: #ccc;
    }

    .table-container {
        padding: 15px 20px;
    }

    .title {
        font-size: 25px;
        font-weight: 600;
        padding-bottom: 10px;
    }
</style>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">Create user</a>
    </div>
    <div class="table-container">
        <div class="title">Danh sách người dùng</div>
    </div>
    <table>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Mật khẩu</th>
            <th>Tên</th>
            <th></th>
        </tr>

        <% for(let i=0; i < ListUsers.length; i++) { %>
            <tr>
                <td>
                    <%= ListUsers[i].id %>
                </td>
                
                <td>
                    <%= ListUsers[i].email %>
                </td>
                <td>
                    <%= ListUsers[i].password %>
                </td>
                <td>
                    <%= ListUsers[i].username %>
                </td>
               
                <td>
                    <form style="display: inline;" action="/update-user/<%= ListUsers[i].id %>" method="Get">
                        <button type="submit"> Cập nhật</button>
                       </form>
                   <form style="display: inline;" action="/delete-user/<%= ListUsers[i].id %>" method="POST">
                    <button type="submit"> Xóa</button>
                   </form>
                </td>

            </tr>
            <% } %>


    </table>

</body>

</html>